* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header {
    width: 80%;
    height: 100px; /* Change for responsiveness */
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
}

header .nav_item {
    margin: 0 30px; /* Change for responsiveness */
}

header .nav_item a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #181b21;
    transition: all .5s;
}

header .nav_item a:hover {
    opacity: 0.5;
}







main {
    width: 80%;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
}

main .default {
    min-width: 600px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .default .background {
    width: 100%;
    height: auto;
    z-index: 3;
}

main .default div {
    transition: all .5s;
}

main .big {
    width: 100%;
    height: 300px;
    margin: 12px 0;
    /*background-image: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .big .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    background-color: #181b21;
    opacity: 0.8;
    z-index: 4;
}

main .big .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .big .content div {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
}

main .big .content .title {
    opacity: 0.6;
}

main .big .content .timer {
    margin: 15px 0;
    opacity: 0.6;
}

main .big .content .current {
    font-size: 36px;
}

main .big .content #earth {
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.329);
}

main .big .content #cetus {
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}




main .small {
    width: 80%;
    height: 200px;
}

main .small_containers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main > .left {
    align-items: flex-end;
}

main .left .small, main .left .big {
    margin-right: 6px;
}

main > .right {
    align-items: flex-start;
}

main .right .small {
    margin: 12px 0;
}

main .right .big {
    margin: 0;
}

main .right .big, main .right .small {
    margin-left: 6px;
}

main .small_containers > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

main .small_containers .left {
    width: 50%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

main .small_containers .right {
    margin-left: 12px;
    width: 50%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}