@font-face {
    src: url("../fonts/Product\ Sans\ Regular.ttf");
    font-family: Product;
}

@font-face {
    src: url("../fonts/Product\ Sans\ Bold.ttf");
    font-family: "Product Bold";
}


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    /* TODO RESPONSIVE */
    margin-top: 60px;
}



.bold {
    font-family: "Product Bold";
}




header {
    /* TODO: RESPONSIVE */
    font-family: "Product";
    font-size: 56px;
}



nav {
    /* TODO: RESPONSIVE */
    width: 100px;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}