@import url("fonts.css");

body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav a {
    width: 150px;
    padding: 10px 20px;
    margin: 10px;
    font-family: "iywf";
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    text-transform: uppercase;
    transition: all 1s;
    text-align: center;
    box-shadow: 0 0 5px #000;
    background-color: black;
}

nav a:hover {
    border: 1px solid #7289da;
}

svg {
	display: block;
	margin: 0 auto;
	max-width: 100vw;
	max-height: 100vw;
    animation: rotate 50s infinite linear;
}

circle {
    transition: fill 4s;
}

path {
    transition: fill 4s;
}

@keyframes rotate {
	0%   { 
        transform: rotate(0deg);
    }
    
    100% { 
        transform: rotate(360deg);
    }
}
