@import url("fonts.css");

body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a21;
    
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d2d2d2;
    font-family: "iywf";
    transition: all 2s;
    border-radius: 5px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: #1a1a21;
    border-radius: 15px;
    transition: all 1s;
    box-shadow: 0 0 10px #000;
    padding: 50px;
    background-image: url("http://i.imgur.com/hHpiISL.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:hover {
    border-radius: 50px;
}
