html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    max-width: 1600px;
    width: 80%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .grid {
    height: 80%;
    width: 40%;
    display: grid;

    grid-template-areas: 
        "r r p p"
        "r r p p"
        "r r p p"
        "r r p p"
        "r r p p"
        "r r p p"
        "r r p p";

    grid-gap: 3rem;
}

main .item {
    /* Defaults they have in common fonts n shit*/
    box-shadow: none;
    transition: box-shadow .5s;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    overflow: hidden;
}

main .item::before, main .item::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border: 1px solid transparent;
    width: 0;
    height: 0;
    z-index: 5;
}


main .item::before {
    top: 0;
    left: 0;
}

main .item::after {
    top: 0;
    left: 0;
}

main .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main .item:hover::before, main .item:hover::after {
    width: 100%;
    height: 100%;
}

main .item:hover::before {
    border-top-color: #181b21;
    border-right-color: #181b21;
    transition: 
        width 0.25s ease-out, 
        height 0.25s ease-out 0.25s;
}

main .item:hover::after {
    border-bottom-color: #181b21;
    border-left-color: #181b21;
    transition:
        height 0.25s ease-out,
        width 0.25s ease-out 0.25s;
        
}



.item .overlay {
    width: 100%;
    height: 150%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #181b211a;

    transition: all .5s;
}


.item:hover .overlay {
    transform: rotateZ(45deg);
    top: 100px;
}


main .releases {
    grid-area: r;
}

main .periodic {
    grid-area: p;
}



/*
    NOT FINAL
*/

/*@media screen and (max-width: 1200px) {
    main {
        width: 100%;
        height: 100%;
    }

    main .grid {
        grid-template-areas: 
            "r"
            "p";

        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}*/