/* Font */
@font-face {
    font-family: iwyf;
    src: url("../assets/fonts/Industry-Bold-webfont.woff2");
}

@-ms-viewport{
    width: device-width;
  }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* basic things */
body {
    background-image: url("../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(26, 26, 26, 0.21);
    padding: 10px;
    border-radius: 10px;
    font-family: "iwyf";
    color: rgba(242, 242, 242, 0.44);
    font-size: 12px;
    user-select: none;
    cursor: default;
}

/*-----------------------------

Giant element info banner start

------------------------------*/

#element {
    user-select: none;
    cursor: default;
    padding-top: 30px;

    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;

    font-family: "iwyf";
    color: #f2f2f2;
}

#element * {
    display: flex;
    align-items: center;
    justify-content: center;
}

#element #symbol {
    width: 100%;
    height: 4vw;
    font-size: 5vw;
}

#element #name {
    width: 100%;
    height: 1.3vw;
    font-size: 1.3vw;
    margin-top: 10px;
}

#sidebar {
    width: 20%;
    height: 90%;
    transition: all .5s;
    
    margin-left: -20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sidebar ul {
    color: #f2f2f2;
    list-style-type: none;
    min-height: 20%;
    width: 100%;
    font-size: 16px;
}


#sidebar ul li {
    width: 90%;
    height: auto;
    word-break: break-all;
    font-family: Roboto;
    font-size: 13px;
    color: rgba(242, 242, 242, 0.68);
}

#sidebar ul li .title {
    color: rgba(255, 255, 255, 0.88);
    font-family: "iwyf";   
    font-size: 14px;
}

#sidebar ul li .info {
    font-family: Roboto;
    letter-spacing: 1px;
    line-height: 8px;
    font-size: 13px;
    color: rgba(242, 242, 242, 0.68);
}

#sidebar a {
    font-family: Roboto;
    letter-spacing: 1px;
    line-height: 8px;
    font-size: 13px;
    color: rgba(242, 242, 242, 0.68);
}

#sidebar #source {
    text-decoration: none;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.21);
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    font-family: "iwyf";
    font-size: 1vw;
    color: #f2f2f2;
    transition: all .5s;
    margin-top: 50px;
    user-select: none;
}

#sidebar #source:hover {
    background-color: rgb(0, 119, 255);
    box-shadow: 0 0 4px #222;
}

/*-----------------------------

Giant element info banner END

------------------------------*/


#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bottom-container {
    height: auto;
    width: auto;
    margin-top: 40px;
    margin-left: 90px;
}

/* rows */
div[class^="row"] {
    width: 1550px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-bottom {
    width: 1260px !important;
}


/* Elements 
--- Decrease the size on smaller screens 
--- or not, im just a comment.
--- @media
*/
.element-box {
    user-select: none;
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(26, 26, 26, 0.21);
    float: left;
    margin: 2px;
    border: 1px solid transparent;
    transition: all .5s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
    z-index: 0;
}

.element-box:hover {
    user-select: none;
    border: 1px solid #f2f2f2;
    background-color: rgb(0, 119, 255);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
    z-index: 1;
}
/* --------------------------------------------------

        Element classes start here

-----------------------------------------------------*/
.diatomic-nonmetal {
    border-bottom: 1px solid rgb(0, 119, 255);
}

.diatomic-nonmetal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(0, 119, 255);
}

.alkali-metal {
    border-bottom: 1px solid rgb(254, 108, 108);
}

.alkali-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(254, 108, 108);
}

.lanthanide {
    border-bottom: 1px solid rgb(52, 218, 163);
}

.lanthanide:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(52, 218, 163);
}

.transition-metal {
    border-bottom: 1px solid rgb(67, 172, 248);
}

.transition-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(67, 172, 248);
}

.alkaline-earth-metal {
    border-bottom: 1px solid rgb(252, 214, 43);
}

.alkaline-earth-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(252, 214, 43);
}

.actinide {
    border-bottom: 1px solid rgb(146, 110, 251);
}

.actinide:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(146, 110, 251);
}

.post-transition-metal {
    /*background-color: rgba(146, 215, 35, 0.21);*/
    border-bottom: 1px solid rgb(146, 215, 35);
}

.post-transition-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(146, 215, 35);
}

.metalloid {
    border-bottom: 1px solid rgb(254, 122, 7);
}

.metalloid:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(254, 122, 7);
}

.polyatomic-nonmetal {
    border-bottom: 1px solid rgb(245, 95, 148);
}

.polyatomic-nonmetal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(245, 95, 148);
}

.noble-gas {
    border-bottom: 1px solid rgb(59, 193, 81);
}

.noble-gas:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(59, 193, 81);
}

.unknown {
    border-bottom: 1px solid rgb(134, 134, 134);
}

.unknown:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(134, 134, 134);
    color: #222;
}


.element-box-empty-lanthanide {
    user-select: none;
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(26, 26, 26, 0.21);
    border-bottom: 1px solid rgb(52, 218, 163);
    margin: 2px;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
}

.element-box-empty-actinide {
    user-select: none;
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(26, 26, 26, 0.21);
    border-bottom: 1px solid rgb(146, 110, 251);
    margin: 2px;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
}
/* --------------------------------------------------

        Element classes end here

-----------------------------------------------------*/



.atom-number {
    width: 70px;
    font-size: 12px;
    text-align: left;
    padding: 5px 0 0 10px;
}

.atom-symbol {
    font-size: 23px;
    padding-bottom: 6px;
}

.atom-name {
    font-size: 0px;
    transition: all .5s;
}

.atom-mass {
    width: 70px;
    font-size: 12px;
    text-align: center;
}

.empty-box {
    padding: 5px;
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;
    border: 1px solid transparent;
}




@media screen and (max-width: 1670px) {
    

    .element-box {
        width: 3.5vw;
        height: 3.5vw;
    }

    .element-box-empty-actinide {
        width: 3.5vw;
        height: 3.5vw;
    }

    .element-box-empty-lanthanide {
        width: 3.5vw;
        height: 3.5vw;
    }

    .empty-box {
        width: 3.5vw;
        height: 3.5vw;
    }

    div[class^="row"] {
        width: auto;
        height: auto;
    }

    #bottom-container {
        margin-top: 30px;
    }

    .atom-number {
        width: 100%;
        font-size: 10px;
        text-align: left;
        padding: 1px 0 0 1px;
    }
    
    .atom-symbol {
        font-size: 16px;
        padding-bottom: 6px;
    }
    
    .atom-mass {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    #sidebar {
        height: 98%;
    }

    #sidebar ul {
        color: #f2f2f2;
        list-style-type: none;
        min-height: 60%;
        font-size: 15px;
    }
}