/* Font */
@font-face {
    font-family: iwyf;
    src: url("../assets/fonts/Industry-Bold-webfont.woff2");
}

@-ms-viewport{
    width: device-width;
  }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* basic things */
body {
    background-image: url("../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bottom-container {
    height: auto;
    width: auto;
    margin-top: 40px;
    margin-left: 90px;
}

/* Columns */
div[class^="row"] {
    width: 1550px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-bottom {
    width: 1260px !important;
}


/* Elements 
--- Decrease the size on smaller screens 
--- or not, im just a comment.
--- @media
*/
.element-box {
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 119, 255, 0.21);
    float: left;
    margin: 2px;
    border: 1px solid transparent;
    transition: all .5s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
}

.element-box:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(0, 119, 255);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}
/* --------------------------------------------------

        Element classes start here

-----------------------------------------------------*/
.diatomic-nonmetal {
    border-bottom: 1px solid rgb(0, 119, 255);
}

.diatomic-nonmetal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(0, 119, 255);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.alkali-metal {
    border-bottom: 1px solid rgb(254, 108, 108);
}

.alkali-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(254, 108, 108);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.lanthanide {
    border-bottom: 1px solid rgb(52, 218, 163);
}

.lanthanide:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(52, 218, 163);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.transition-metal {
    border-bottom: 1px solid rgb(67, 172, 248);
}

.transition-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(67, 172, 248);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.alkaline-earth-metal {
    border-bottom: 1px solid rgb(252, 214, 43);
}

.alkaline-earth-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(252, 214, 43);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.actinide {
    border-bottom: 1px solid rgb(146, 110, 251);
}

.actinide:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(146, 110, 251);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.post-transition-metal {
    /*background-color: rgba(146, 215, 35, 0.21);*/
    border-bottom: 1px solid rgb(146, 215, 35);
}

.post-transition-metal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(146, 215, 35);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.metalloid {
    border-bottom: 1px solid rgb(254, 122, 7);
}

.metalloid:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(254, 122, 7);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.polyatomic-nonmetal {
    border-bottom: 1px solid rgb(245, 95, 148);
}

.polyatomic-nonmetal:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(245, 95, 148);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.noble-gas {
    border-bottom: 1px solid rgb(59, 193, 81);
}

.noble-gas:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(59, 193, 81);
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}

.unknown {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.unknown:hover {
    border: 1px solid #f2f2f2;
    background-color: rgb(255, 255, 255);
    color: #222;
    transform: scale(1.5);
    box-shadow: 0 0 10px #222;
}


.element-box-empty-lanthanide {
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 119, 255, 0.21);
    border-bottom: 1px solid rgb(52, 218, 163);
    margin: 2px;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
}

.element-box-empty-actinide {
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 119, 255, 0.21);
    border-bottom: 1px solid rgb(146, 110, 251);
    margin: 2px;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: "iwyf";
    color: #f2f2f2;
}
/* --------------------------------------------------

        Element classes end here

-----------------------------------------------------*/



.atom-number {
    width: 70px;
    font-size: 12px;
    text-align: left;
    padding: 5px 0 0 10px;
}

.atom-symbol {
    font-size: 23px;
    padding-bottom: 6px;
}

.atom-mass {
    width: 70px;
    font-size: 12px;
    text-align: center;
}

.empty-box {
    padding: 5px;
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;
    border: 1px solid transparent;
}




@media screen and (max-width: 1670px) {
    

    .element-box {
        width: 3.5vw;
        height: 3.5vw;
    }

    .element-box-empty-actinide {
        width: 3.5vw;
        height: 3.5vw;
    }

    .element-box-empty-lanthanide {
        width: 3.5vw;
        height: 3.5vw;
    }

    .empty-box {
        width: 3.5vw;
        height: 3.5vw;
    }

    div[class^="row"] {
        width: auto;
        height: auto;
    }

    #bottom-container {
        margin-top: 10px;
    }

    .atom-number {
        width: 100%;
        font-size: 10px;
        text-align: left;
        padding: 1px 0 0 1px;
    }
    
    .atom-symbol {
        font-size: 16px;
        padding-bottom: 6px;
    }
    
    .atom-mass {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }
}